<div class="container">
    <h1>Events Page</h1>        
    <div class="media" ng-controller="mockDataController">
        <div ng-repeat="event in mockData" class="media-section">
            <div class="media-left">
                <a href="#/events/{{$index + 1}}">
                  <img class="media-object rounded-images" src="http://www.freegorifero.com/assets/square_999999.gif" alt="{{event.name}}">
                </a>
            </div>
            <div class="media-body">
                <h4>
                <span>{{event.name}}</span>
                <span class="media-event-date"> {{event.date}}</span>
                </h4>
                <p>{{event.description | limitTo: 200}}...</p>
                <a href="#/events/{{$index}}" class="btn btn-default" data-event="{{event.name}}">Read More</a>
            </div>
            <br>
        </div>
    </div>    
</div>
