<div>
    <div class="container-fluid home-page-title">
        <h1 class="text-center">Events Page</h1>
    </div>
    <div class="container">
        <div class="media" ng-controller="EventsController">
            <div class="media-section" ng-repeat="event in eventsData">
                <div class="media-left">
                    <a href="#">
                      <img class="media-object rounded-images" src="http://www.freegorifero.com/assets/square_999999.gif" alt="{{event.name}}">
                    </a>
                </div>
                <div class="media-body">
                    <h4>
                    <span class="media-event-name">{{event.name}}</span>
                    <span class="media-event-date">{{event.date}}</span>
                    </h4>
                    <p>{{event.description | limitTo: 200}}...</p>
                    <a class="btn btn-default" href="#/events-details/{{event.allSpots}}" role="button">See more</a>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>