<div class="container">
	<h2>Login</h2>
	<div class="signup-form" align="center">
		<form ng-submit="login(email,password)">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input ng-model="email" type="email" class="form-control" placeholder="Email" novalidate>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input ng-model="password" type="password" class="form-control"  placeholder="Password" novalidate>
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>