<div class="container"> 
  <h2>Login</h2>
  <div class="signup-form" align="center">
    <form ng-submit="login(email,password)" novalidate>
      <div class="form-group">
        <label for="email">Email address</label>
        <input ng-model="email" class="form-control" type="email" placeholder="Email">
        <p class="error">Please enter a valid email address.</p>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input ng-model="password" type="password" class="form-control" placeholder="Password">
        <a href="#" ng-click="resetPass(email);$event.preventDefault();">Forgot Password</a>
      </div>
      <input type="submit" class="btn btn-default" value="Submit">
    </form>
  </div>
</div>


