<div class="media">
  <div ng-repeat="user in adminUsers" class="media-section">
    <div class="media-body">    
      <div>
        <span class="adminname">{{user.firstName}}</span>
        <span class="adminname">{{user.lastName}}</span>
        <span class="adminname adminemail">{{user.email}}</span>
        <div class="adminbuttons">
          <button ng-click="remove($index, user.firebaseId)" class="btn btn-danger">Remove</button>
          <a href="#/edit-admin/{{user.firebaseId}}" class="btn btn-default">Edit</a>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
