<div class="media">
  <div ng-repeat="event in mockData | orderBy:'date'" class="media-section">
    <div class="media-left">
      <a href="#/events/{{event.eventFirebaseId}}">
        <img class="media-object rounded-images" ng-src="{{event.image.small}}" alt="{{event.name}}">
      </a>
    </div>
    <div class="media-body">
      <h4>
        <span>{{event.name}}</span>
        <span class="media-event-date"> {{event.date}}</span>
      </h4>
      <p>{{event.eventFirebaseId}}</p>
      <p>{{event.description | limitTo: 200}}...</p>
      <a href="#/events/{{event.eventFirebaseId}}" class="btn btn-default">View</a>
      <div ng-if="profile.role=='admin'">
        <button class="btn btn-danger">Remove</button>
        <button class="btn btn-default">Edit</button>
      </div>
    </div>
    <br>
  </div>
</div>
