/*/////////////////////////
	Base Styles
/////////////////////////*/

body{
	background-color: #e8e8e8;
}

/*Font*/
body, h1, h2, h3, h4, h5, p, a {
	font-weight: 200;
}

.container {
  width: 700px ;
  margin: 80px auto 0;
}

/*/////////////////////////
	Header
/////////////////////////*/

/*Navbar*/
.navbar-default {
	background-color: #484848;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
   background-image: none;
   border-radius: 0px;
	border: none;
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

.navbar-brand{
	padding: 5px;
	margin: 0 15px;

}


.signup-btn {
	margin-right: 20px;
}

/*/////////////////////////
	Events list
/////////////////////////*/

/*Images*/
.rounded-images {
	border-radius: 100%;
}

.media{
	overflow: visible;
}

.media-event-date {
	font-size: 14px;
	color: #dbdbdb;
}

.media-section {
	background-color: #fff;
	padding: 20px 10px 0px 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0px 4px 7px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 4px 7px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 4px 7px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.media-section:hover {
	background-color: #fafafa;
	border: 1px solid #dbdbdb;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.btn-default {
	background-image: none;
	float: right;
}

/*/////////////////////////
	Event Details
/////////////////////////*/

.eventHeader {
	background: url("../images/eventdetailheader.jpg");
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: center center !important;
	height: 250px;
	width: 100%;
	position: relative;
	background-size: 450px 170px;
	display: table;
}
.eventTitle {
	display: table-cell;
	vertical-align: middle;
}
.eventTitle h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
}

.eventDescription {
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.angular-google-map-container {
	height: 400px;
}

/*/////////////////////////
	Forms
/////////////////////////*/

.eventHeader {
	background: url("../images/eventdetailheader.jpg");
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: center center !important;
	height: 250px;
	width: 100%;
	position: relative;
	background-size: 450px 170px;
	display: table;
}
.eventTitle {
	display: table-cell;
	vertical-align: middle;
}
.eventTitle h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
}

.eventDescription {
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.angular-google-map-container { height: 400px; }

/*Login*/
.login-form {
  width: 400px;
  position: relative;
  left: 20%;
  top: 10em;
  background-color: #f2f2f2;
  padding: 60px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

/*Signup*/
.signup-form {
  width: 400px;
  position: relative;
  left: 20%;
  top: 9em;
  background-color: #f2f2f2;
  padding: 60px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

/*Validation*/
input.ng-invalid-email {
	border: 1px solid red;
}
p.error {
	display: none;
	font-size: 12px;
	color: red;
}

input.ng-invalid-email + .error {
	display: inline-block;
}


.brand {

}

.adminbuttons {
	float: right;
}

.adminname {
	font-size: 20px;
}

.adminemail {
	padding-left: 50px;
}
